.titulo {
	font-size: 30px;
	color: white;
	background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
	position: absolute;
	top: 0;
	left: 0;
	width: 700px;
	text-align: center;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 5px;
	width: 100%;
	border: 2px solid black;
	box-sizing: border-box;
	text-shadow: 3px 3px 3px rgb(141, 138, 138);
}

.body {
	background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
	overflow: hidden;
	padding: 16px;
	height: 100%;
	width: 100%;
}

.container {
	grid-template-columns: auto;
	grid-auto-rows: 20px;
	margin-left: 30%;
	margin-top: 50px;
	padding-bottom: 40px;
	grid-template-areas:
		'info-pessoais'
		'endereco'
		'acesso'
		'contatos';
}

#formulario {
	text-align: left;
}

.info-pessoais {

	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: multiply;
	border: 1px solid#333;
	padding: 20px;
	padding-top: 13px;
	padding-bottom: 15px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.endereco {

	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid#333;
	padding: 13px;
	padding-bottom: 20px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.acesso {

	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid#333;
	padding: 13px;
	padding-bottom: 1px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.contatos {
	display:block;
	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid#333;
	padding: 13px;
	padding-bottom: 20px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.linha {
	font-size: 20px;
	width: 100%;
	border-bottom: 1px solid white;
	text-align: center;
}

.name {
	padding-right: 1px;
	padding-bottom: 5px;
	padding-top: 7px;
	font-size: 17px;
}

.cpf {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}


.data {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}
.genero {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}

.escolaridade {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}

#data {
	width: 120px;
}

.endereco {
	font-size: 17px;
}

.regiao {
	padding-top: 7px;
}

.numero-1 {
	margin-bottom: 11px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.contato{
	margin-bottom:7px;
	border-bottom: 1px dashed white;
}
.botoes{
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 40px;
}

.botao-contato {
	font-size: 14px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 3px;
	width: 30%;
	margin-bottom: 2px;
	cursor: pointer;
}
.botao-contato :hover{
	background-color: #333;
	color: #ffffff ;
	box-shadow: inset 0 0 1em rgb(151, 151, 149);
}
.botao-contato {
	font-size: 15px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 3px;
	width: 40%;
	margin-bottom: 2px;
	cursor: pointer;
}
.botao-contato:hover{
	background-color: #333;
	color: #ffffff ;
	box-shadow: inset 0 0 1em rgb(151, 151, 149);
}
#cont-1{
	font-weight: bold;
	font-size: 19px;
	margin-left: 15px;
}
.nth-contato{
	font-weight: bold;
	font-size: 19px;
	margin-left: 15px;
}
.contato-email-container{
	margin-bottom:7px;
	border-bottom: 1px dashed white;
}
#email {
	padding-top: 7px;
	padding-bottom: 6px;
	font-size: 17px;
	display: inline-block;
}

.senha {
	padding-bottom: 20px;
	font-size: 17px;
}
#enviar {
	background-color: #333;
	color: #ffffff;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 90px;
	margin-bottom: 3px;
	margin-top: 5px;
	cursor: pointer;
}
#enviar:hover{
	background-color:white;
	color: black;
    box-shadow: inset 0 0 1em rgb(68, 68, 66);
}

#mostrar {
	font-size: 15px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 3px;
	width: 40%;
	margin-bottom: 2px;
	cursor: pointer;
}
#mostrar:hover{
	background-color:white;
	color: black;
    box-shadow: inset 0 0 1em rgb(68, 68, 66);
}
#setor {
	margin-right: 100px;
}

.info label {
	display: inline-block;
}

.info input {
	border-radius: 5px;
	width: 50%;
	height: 30px;
	background: #b8cad4;
}

.acesso input {
	border-radius: 5px;
	width: 50%;
	height: 30px;
	background: #b8cad4;
}

.info select {
	border-radius: 5px;
	width: 150px;
	height: 30px;
	background: #b8cad4;
	display: inline-block;
}

.endereco select {
	width: 50px;
}

* {
	box-sizing: border-box;
	margin: 0rem;
	font-family: Helvetica, sans-serif;
}

