.titulo {
	font-size: 30px;
	color: white;
	background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
	position: absolute;
	top: 0;
	left: 0;
	width: 700px;
	text-align: center;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 5px;
	width: 100%;
	border: 2px solid black;
	box-sizing: border-box;
	text-shadow: 3px 3px 3px rgb(141, 138, 138);
}

.body {
	background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
	overflow: hidden;
	padding: 16px;
	height: 100%;
	width: 100%;
}

.container {
	grid-template-columns: auto;
	grid-auto-rows: 20px;
	margin-left: 30%;
	margin-top: 50px;
	padding-bottom: 40px;
	grid-template-areas:
		'info-pessoais'
		'endereco'
		'acesso'
		'contatos';
}

#formulario {
	text-align: left;
}

.info-pessoais {

	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: multiply;
	border: 1px solid#333;
	padding: 20px;
	padding-top: 13px;
	padding-bottom: 15px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.endereco {

	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid#333;
	padding: 13px;
	padding-bottom: 20px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.acesso {

	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid#333;
	padding: 13px;
	padding-bottom: 1px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.contatos {
	display:block;
	min-width: 0;
	width: 50%;
	margin: auto;
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid#333;
	padding: 13px;
	padding-bottom: 20px;
	margin-right: 2rem;
	margin-left: 2rem;
}

.linha {
	font-size: 20px;
	width: 100%;
	border-bottom: 1px solid white;
	text-align: center;
}

.name {
	padding-right: 1px;
	padding-bottom: 5px;
	padding-top: 7px;
	font-size: 17px;
}

.cpf {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}


.data {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}
.genero {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}

.escolaridade {
	padding-right: 1px;
	padding-bottom: 5px;
	font-size: 17px;
}

#data {
	width: 120px;
}

.endereco {
	font-size: 17px;
}

.regiao {
	padding-top: 7px;
}

.numero-1 {
	margin-bottom: 11px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.email-contato{
	margin-bottom:7px;
	border-bottom: 1px dashed white;
}
.botoes{
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 40px;
}

#add-contato {
	font-size: 15px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 3px;
	width: 40%;
	margin-bottom: 2px;
	cursor: pointer;
}
#add-contato:hover{
	background-color: #333;
	color: #ffffff ;
	box-shadow: inset 0 0 1em rgb(151, 151, 149);
}
#remove-contato {
	font-size: 15px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 3px;
	width: 40%;
	margin-bottom: 2px;
	cursor: pointer;
}
#remove-contato:hover{
	background-color: #333;
	color: #ffffff ;
	box-shadow: inset 0 0 1em rgb(151, 151, 149);
}
#cont-1{
	font-weight: bold;
	font-size: 19px;
	margin-left: 15px;
}
.nth-contato{
	font-weight: bold;
	font-size: 19px;
	margin-left: 15px;
}
.contato-email-container{
	margin-bottom:7px;
	border-bottom: 1px dashed white;
}
.email {
	padding-top: 7px;
	padding-bottom: 6px;
	font-size: 17px;
	display: inline-block;
}

.senha {
	padding-bottom: 20px;
	font-size: 17px;
}
#enviar {
	background-color: #333;
	color: #ffffff;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 90px;
	margin-bottom: 3px;
	margin-top: 5px;
	cursor: pointer;
}
#enviar:hover{
	background-color:white;
	color: black;
    box-shadow: inset 0 0 1em rgb(68, 68, 66);
}

#mostrar {
	font-size: 15px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 3px;
	width: 40%;
	margin-bottom: 2px;
	cursor: pointer;
}
#mostrar:hover{
	background-color:white;
	color: black;
    box-shadow: inset 0 0 1em rgb(68, 68, 66);
}
#setor {
	margin-right: 100px;
}

.info label {
	display: inline-block;
}

.info input {
	border-radius: 5px;
	width: 50%;
	height: 30px;
	background: #b8cad4;
}

.email input {
	width: 230px
}

.info select {
	border-radius: 5px;
	width: 150px;
	height: 30px;
	background: #b8cad4;
	display: inline-block;
}

.endereco select {
	width: 50px;
}

* {
	box-sizing: border-box;
	margin: 0rem;
	font-family: Helvetica, sans-serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: white;
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
}

.divTable {
  padding: 10px;
  width: auto; 
  height:inherit; 
  overflow:auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
} */