 /* Estilizando a tabela com os dados:  */
 .tabela {
	margin-left: 200px;
	margin-right: 10px;
 	color: rgb(236, 227, 227);
 }

 table {
 	border: 1px solid rgb(255, 255, 255);
 	/* border-color: rgb(9, 11, 160); */
 	border-radius: 3px;
 	margin-bottom: 5px;
 	margin-top: 5px;
 	margin-right: 80px;
	 margin-left: 110px;
 	background: rgb(75, 72, 236);
 	text-align: center;
 	font-size: 20px;
	width: 80%;
 }
i{
	color: rgb(207, 207, 207);
	cursor: pointer;
}
 i:hover{
    color: red;
}
th{
	border: 1px solid rgb(0, 0, 0);
 	width: 300px;
 	margin: 10px;
 	color: rgb(255, 255, 255);
	background-color: rgb(4, 0, 255);
}
 td {
 	border: 1px solid rgb(0, 0, 0);
 	width: 300px;
 	margin: 10px;
 	color: rgb(10, 0, 0);
 }

.editar {
	cursor: pointer;
}
.excluir{
	cursor: pointer;
}
 /* h1 {
 	text-align: center;
 	margin: 20px 0 0 0;
 	font-size: 1.25em;
 	font-weight: normal;
 } */

 * {
 	box-sizing: border-box;
 	margin: 0rem;
 	font-family: Helvetica, sans-serif;
 }